/* Colors */
:root {
	--body-collor: #ffffff;
	--navy-collor: #2e2f42;
	--ourTeamBack--collor: #f4f4fd;
	--blue--text--collor: #4d5ae5;
	--hover--blue--collor: #404bbf;
	--add-text--collor: #434455;
	--footer--text--border--collor: #e7e9fc;
	--customer--no--active--collor: #8e8f99;
}
/* Colors */
